{% extends "users/basic.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="calculate">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" align="center">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" align="center">
                <div style="background-color: #71c0d8;">
                    Reset Password
                </div>
            </legend>
            {{ form|crispy }}
            <!-- {{ form.as_p}} -->
        </fieldset>
        <div class="form-group" align="center">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
    
</div>
{% endblock content %}