{% extends "users/basic.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="calculate">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" align="center">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <legend class="border-bottom mb-4" align="center">
            <div style="background-color: #71c0d8;">
                Reset Password
            </div>
        </legend>
        {% for non_field_error in form.non_field_errors %}
        <p>{{ non_field_error }}</p>
        {% endfor %}
        {% for field in form %}
        <div class="field">
            <label class="label">
                {{ field.html_name }}
            </label>
            {{ field }}
            {% for error in field.errors %}
            <p>
                {{ error }}
            </p>
            {% endfor %}
        </div>
        {% endfor %}
        <div align="center">
            <button  id="sup-btn" type="submit">Request Password Reset</button>
        </div>
    </form>

</div>
{% endblock content %}